@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/IRANYekan.ttf");
  src: url("./fonts/IRANYekan.ttf?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IRANYekan.ttf") format("ttf"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IRANYekan.ttf") format("ttf"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./fonts/IRANYekan.ttf")
      format("truetype");
}

@font-face {
  font-family: IRANSansWeb_Light;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/IRANSansWeb_Light.ttf");
  src: url("./fonts/IRANSansWeb_Light.ttf?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IRANSansWeb_Light.ttf") format("ttf"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IRANSansWeb_Light.ttf")
      format("ttf"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./fonts/IRANSansWeb_Light.ttf")
      format("truetype");
}

*,
body {
  font-family: IRANYekan;
}
